.a_door_lock_wrapper{
    position: relative;
    height: 350px;
    width: 650px;
}

.a_door_rectangles{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
top: 45%;
font-size: large;
text-align: center;
}

#a_door_input1{
left: 48%;
}

#a_door_input2{
    left: 53%;
}

#a_door_input3{
    left: 58%;
}

#a_door_input4{
    left: 63%;
}

#a_door_input5{
    left: 68%;
}

#a_door_input6{
    left: 73%;
}


#a_door_button{
    position: absolute;
    top: 59%;
    left: 57%;
    text-align: center;
    border: none;
    cursor:pointer;
    background-color: transparent;
    font-size: medium;
}
.sins_text{
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: Geneva, Verdana, sans-serif;
}

.dialogue{
    font-family: Geneva, Verdana, sans-serif;
}



.b_door_lock_wrapper{
    position: relative;
    height: 350px;
    width: 650px;
}

.b_door_rectangles{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 10%;
width: 4%;
top: 45%;
font-size: large;
text-align: center;
}

#b_door_input1{
left: 50%;
}

#b_door_input2{
left: 57%;
}

#b_door_input3{
    left: 64%;
}

#b_door_input4{
    left: 71%;
}

#b_door_button{
    position: absolute;
    top: 60%;
    left: 58%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.quote_wrapper_a{
    position: relative;
    width: 800px;
    height: 600px;
  }
  
  .quotes_wrapper_text_a{
    position:absolute;
    width:600px;
    height:800px;
    top:15%;
    left:13%
  }
  
  .dialogueB{
    font-family: Geneva, Verdana, sans-serif;
    transform: rotate(-5deg);
  }



.drawer_lock_wrapper{
    position: relative;
    height: 350px;
    width: 656px;
}

.drawer_rectangles{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 7%;
width: 4%;
top: 39%;
font-size: large;
text-align: center;
}

#drawer_input1{
left:12%;
}

#drawer_input2{
left:19%;
}

#drawer_input3{
left:26%;
}


#drawer_input4{
    left:33%;
}

#drawer_input5{
left:40%;
}

#drawer_input6{
left:47%;
}

#drawer_input7{
left:54%;
}

#drawer_input8{
left:61%;
}
   
#drawer_input9{
    left:68%;
} 


#drawer_button{
    position: absolute;
    top: 40%;
    left: 76%;
    text-align: center;
    border: none;
    cursor:pointer;
}

.shady_wrapper{
    position: relative;
    height: 800px;
    width: 650px;
}
#shady_button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-align: center;
    border: none;
    cursor:pointer;
}
