.a_door_lock_wrapper{
    position: relative;
    height: 350px;
    width: 650px;
}

.a_door_rectangles{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 5%;
width: 5%;
left: 66%;
font-size: large;
text-align: center;
}

#a_door_input1{
top: 40%;
}

#a_door_input2{
top: 49%;
}

#a_door_input3{
top: 58%;
}

#a_door_input4{
top: 67%;
}

#a_door_input5{
top: 76%;
}

#a_door_input6{
top: 85%;
}

#a_door_input7{
top: 94%;
}

#a_door_button{
    position: absolute;
    top: 29%;
    left: 66%;
    text-align: center;
    border: none;
    cursor:pointer;
    background-color: transparent;
    width:10%;
}
.sins_text{
    position: absolute;
    top: 39%;
    left: 57%;
    font-family: Geneva, Verdana, sans-serif;
    font-size: small;
}

.dialogue{
    font-family: Geneva, Verdana, sans-serif;
}



.b_door_lock_wrapper{
    position: relative;
    height: 350px;
    width: 650px;
}

.b_door_rectangles{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 8%;
width: 3%;
left: 20%;
font-size: large;
text-align: center;
}

#b_door_input1{
top: 45%;
left: 48%;
}

#b_door_input2{
    top: 45%;
    left: 53%;
}

#b_door_input3{
    top: 45%;
    left: 58%;
}

#b_door_input4{
    top: 45%;
    left: 63%;
}

#b_door_input5{
    top: 45%;
    left: 68%;
}

#b_door_input6{
    top: 45%;
    left: 73%;
}

#b_door_button{
    position: absolute;
    top: 59%;
    left: 57%;
    font-family: Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.quote_wrapper_a{
    position: relative;
    width: 800px;
    height: 600px;
  }
  
  .quotes_wrapper_text_a{
    position:absolute;
    width:600px;
    height:800px;
    top:15%;
    left:13%
  }
  
  .dialogueB{
    font-family: Geneva, Verdana, sans-serif;
    transform: rotate(-5deg);
  }

.record_wrapper{
    position: relative;
    height: 380px;
    width: 460px;
}

.audio_file{
    position: absolute;
    left: 20%;
    top: 23%;
    height: 7%;
    width:61%;
}


.a_color_lock_wrapper{
    position: relative;
    height: 350px;
    width: 680px;
}

.colored_button{
    position: absolute;
    top: 53%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ce6ed7;
    font-size: 10px;
}



#a_c_button1{
    left:29%;
}

#a_c_button2{
    left:37%;
}

#a_c_button3{
    left:45%;
}

#a_c_button4{
    left:53%;
}

#a_c_button5{
    left:61%;
}

#color_open_button{
    left:72%;
    background-color: #bfb43a;
}

.dialogueBible{
    font-family: Geneva, Verdana, sans-serif;
    transform: rotate(-3deg);
}

