.quote_wrapper_a{
  position: relative;
  width: 800px;
  height: 600px;
}

.quotes_wrapper_text_a{
  position:absolute;
  width:600px;
  height:800px;
  top:15%;
  left:13%
}

.dialogueB{
  font-family: Geneva, Verdana, sans-serif;
  transform: rotate(-5deg);
}

.a_chest_lock_wrapper {
  position: relative;
  width: 700px;
  height: 500px;
}

#a_chest_input1{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
font-size: large;
text-align: center;
top: 36%;
left: 41%;
border: 2px solid rgba(8, 245, 36, 0.8);
}


#a_chest_input2{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 46%;
top: 36%;
font-size: large;
text-align: center;
border: 2px  solid rgba(15, 22, 223, 0.8);
}


#a_chest_input3{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 51%;
top: 36%;
font-size: large;
text-align: center;
border: 2px solid rgba(205, 27, 27, 0.8);
}

#a_chest_input4{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 56%;
top: 36%;
font-size: large;
text-align: center;
border: 2px  solid rgba(40, 240, 244, 0.8);
}

#a_chest_button{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 6%;
width: 11%;
left: 45%;
top: 49%;
font-size: medium;
text-align: center;
}

.a_bookshelf_wrapper{
position: relative;
width: 600px;
height: 400px;
}

.beatitudes_img{
position: absolute;
width: 600px;
height: 400px;
}

.label_beatitudes{
position: absolute;
font-size: small;
color:rgb(255, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
top:57%;
left: 21%;
transform: rotate(90deg);
}

.label_commandments{
position: absolute;
font-size: small;
color:rgb(255, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
top:55%;
left: 2%;
transform: rotate(90deg);
}

.label_truths{
position: absolute;
font-size: small;
color:rgb(255, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
top:57%;
left: 30%;
transform: rotate(90deg);
}



.a_door_lock_wrapper {
  position: relative;
  width: 650px;
  height: 350px;
}

#a_door_input1{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
font-size: large;
text-align: center;
top: 22%;
left: 54%;
}


#a_door_input2{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 60%;
top: 22%;
font-size: large;
text-align: center;
}


#a_door_input3{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 66%;
top: 22%;
font-size: large;
text-align: center;
}

#a_door_button{
  position: absolute;
  background-color: transparent;
  color: rgb(72, 62, 62);
  height: 10%;
  width: 20%;
  left: 20%;
  top: 33%;
  font-size: medium;
  text-align: center;
  outline:none;
  border: none;
  transform: rotate(12deg);
  cursor:pointer;
}

#b_door_button{
  position: absolute;
  background-color: transparent;
  color: rgb(72, 62, 62);
  height: 10%;
  width: 20%;
  left: 20%;
  top: 33%;
  font-size: medium;
  text-align: center;
  outline:none;
  border: none;
  transform: rotate(12deg);
  cursor:pointer;
}

.b_door_lock_wrapper {
  position: relative;
  width: 650px;
  height: 350px;
}

#b_door_input1{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
font-size: large;
text-align: center;
top: 22%;
left: 54%;
}


#b_door_input2{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 60%;
top: 22%;
font-size: large;
text-align: center;
}


#b_door_input3{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 3%;
left: 66%;
top: 22%;
font-size: large;
text-align: center;
}


.b_cupboard_lock_wrapper {
  position: relative;
  width: 550px;
  height: 400px;
}

#b_cupboard_input1{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 4%;
font-size: large;
text-align: center;
top: 66%;
left: 41%;
}


#b_cupboard_input2{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 4%;
left: 49%;
text-align: center;
top: 66%;
font-size: large;
text-align: center;
}


#b_cupboard_input3{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
height: 9%;
width: 4%;
left: 58%;
text-align: center;
top: 66%;
font-size: large;
text-align: center;
}

#b_cupboard_button{
  position: absolute;
  background-color: transparent;
  color: rgb(72, 62, 62);
  height: 10%;
  width: 20%;
  left: 42%;
  top: 75%;
  font-size: medium;
  text-align: center;
  outline:none;
  border: none;
  cursor:pointer;
}


.dialogue{
font-family: Geneva, Verdana, sans-serif;
  
}








.door{
position: absolute;
height:90%;
left: 20%;
top: 5%;
}

.door_text{
position:absolute;
left: 50%;
top: 5%;
font-size: large;
}

.padlock_text{
position:absolute;
bottom: 0%;
font-size: large;
}